.button {
    background-color: $yellow;
    height: 45px;
    font: 12px/45px $ptb;
    text-transform: uppercase;
    width: 165px;
    color: $grey;
    display: inline-block;
    border: none;
    cursor: pointer;
    @include transition(all, .2s);
    &--big {
        width: 220px;
    }
    &:hover  {
        background-color: #E7CC00;
        letter-spacing: 1px;
        font-size: 13px;
        line-height: 43px;
    }
}

