.footer-top {
    background-color: #191A1C;
    padding: 20px 0;
}

.goverment-box {
    margin: 0 -15px;
    @include flex($alignI: center, $justify: center);

    .column {
        width: 25%;
        padding: 0 40px;

        @media (max-width: 991px) {
            padding: 0 15px;
        }

        @media (max-width: 600px) {
            width: 50%;
            padding: 10px 50px;
        }

        @media (max-width: 500px) {
            padding: 10px 15px;
        }

        img {
            opacity: .2;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            width: 100%;
            display: block;

            &:hover {
                opacity: 1;
            }
        }
    }
}






.footer-middle {
    background-color: #17181A;
    padding: 50px 0;

    .wrapper {
        text-align: left;
    }

    .logo {
        margin-right: 70px;
        vertical-align: top;

        @media (max-width: 991px) {
            display: block;
            margin: 0 auto;
        }
    }

    .text {
        display: inline-block;
        vertical-align: top;
        width: 630px;
        color: $light;
        opacity: .2;
        line-height: 30px;
        font-family: $ptr;

        @media (max-width: 991px) {
            width: 100%;
            text-align: center;
            padding-top: 40px;
        }
    }
}




.footer-bottom {
    background-color: #17181A;
    padding: 16px 0;
    border-top: 1px solid rgba(255, 255, 255, .05);

    .wrapper {
        @extend %clearfix;
    }

    .developer {
        float: left;
        opacity: .6;
        color: #fff;
        font-size: 14px;

        a {
            color: $yellow;
            text-decoration: underline;
        }
    }

    .socials {
        float: right;
        font-size: 14px;

        a {
            color: #fff;
            opacity: .6;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            margin-left: 30px;

            &:hover {
                opacity: 1;
            }
        }
    }
}