.form {
    background-color: #17181a;
    padding: 37px 90px 45px;
    &__group {
        @include flex();
        input {
            width: 28%;
        }
    }
    input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #6c6d70;
        line-height: 30px;
        padding-left: 14px;
        font-size: 14px;
        font-family: $ptr;
        color: $text;
        @include transition(all, .2s);
        &:hover,
        &:focus {
            color: #fff;
            border-bottom: 1px solid $yellow;
        }
    }
    button {
        margin-top: 38px;
    }

    &--white {
        background-color: #fff;

        input {
            border-bottom-color: #C5C5C6;

            &:hover,
            &:focus {
                color: #17181A;
                border-bottom-color: #17181A;
            }
        }

        button {
            background-color: #17181A;
            color: #fff;
        }
    }


}

input:hover::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    opacity:  1;
    @include transition(all, .2s);
}
input:hover:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   opacity:  1;
   @include transition(all, .2s);
}
input:hover::-moz-placeholder { /* Mozilla Firefox 19+ */
   opacity:  1;
   @include transition(all, .2s);
}
input:hover:-ms-input-placeholder { /* Internet Explorer 10-11 */
   opacity:  1;
   @include transition(all, .2s);
}