         
.mainHeader {
    @include position(absolute, 0, auto, auto, 0);
    width: 100%;
    z-index: 100;
    margin: 0;
    @include transition(all, .4s);
    @media (max-width: 730px) {
        @include position(fixed, 0, 0, auto, auto);
        width: 260px;
        background-color: #17181A;
        height: 100%;
        overflow: scroll;
        padding: 20px 0;
        -webkit-transform: translateX(260px);
           -moz-transform: translateX(260px);
            -ms-transform: translateX(260px);
             -o-transform: translateX(260px);
                transform: translateX(260px);
        &.active {
            -webkit-transform: translateX(0);
               -moz-transform: translateX(0);
                -ms-transform: translateX(0);
                 -o-transform: translateX(0);
                    transform: translateX(0);
        }
    }
    &__info {
        height: 50px;
        color: $text;
        border-bottom: 1px solid rgba(255,255,255,.1);
        @media (max-width: 1100px) {
            height: 40px;
        }
        @media (max-width: 730px) {
            height: auto;
        }
        .wrapper {
            height: 100%;
            @include flex();
            @media (max-width: 730px) {
                display: block;
                padding-bottom: 10px;
            }
        }
    }
    &__navPanel {
        @include flex();
        padding-top: 25px;
        @media (max-width: 730px) {
            display: block;
        }
        @media (max-width: 1100px) {
            padding-top: 10px;
        }
    }
    @media (min-width: 731px) {
        &.prepare {
            .mainNav {
                position: fixed;
                top: -100%;
                left: 0;
                width: 100%;
                background-color: rgba(23,24,26, .8);
                padding: 10px 0;
            }
        }
        &.hasScrolled {
            .mainNav {
                top: 0;
                opacity: 1;
                @include transition(all, .4s);
                ul {
                    width: 1200px;
                    display: block;
                    margin: 0 auto;
                    @media (max-width: 1300px) {
                        width: 90%;
                    }
                }
            }
        }
    }
        /*.................media.............*/
        @include m800 {
        }
        /*.............end media..............*/
}

.tel,
.mail {
    color: #fff;
    opacity: .6;
    font-size: 14px;line-height: 50px;
    display: inline-block;
    vertical-align: middle;
    @include transition(all, .2s);
    &:hover {
        opacity: 1;
    }
    @media (max-width: 1100px) {
        line-height: 40px;
    }
}
.tel {
    margin-right: 25px;
    &:before {
        content: "\f095";
        font-family: 'FontAwesome';
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
        color: #FFF;
        margin-top: -2px;
    }
    @media (max-width: 730px) {
        margin: 10px auto;
        line-height: normal;
    }
}
.mail {
    padding-left: 25px;
    border-left: 1px solid rgba(255,255,255,.1);
    &:before {
        content: "\f003";
        font-family: 'FontAwesome';
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
        color: #FFF;
        margin-top: -2px;
    }
    @media (max-width: 730px) {
        padding: 0;
        margin: 10px auto;
        border: none;
        line-height: normal;
    }
}

.logo {
    text-align: center;
    &.mobile {
        display: none;
    }
    h1,
    h4 {
        background-color: $yellow;
        padding: 14px;
        color: #17181a;
        position: relative;
        text-transform: uppercase;
        width: 200px;
        font: 30px/35px $rb;
        span {
            position: absolute;
            bottom: -24px;
            color: #fff;
            font: 12px $ptr;
            left: 0;
            width: 100%;
            letter-spacing: .3px;
        }
    }
    @media (max-width: 730px) {
        display: none;
        &.mobile {
            width: 160px;
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 20px;
            margin: auto;
            h4 {
                font: 28px/32px $rb;
                padding: 10px;
                width: 160px;
                span {
                    font-size: 9px;
                    bottom: -18px;
                }
            }
        }
    }
}

/* ------------------------------------ */
/*  NAV STYLES  */
.mainNav {
    ul {
        list-style-type: none;
        li {
            display: inline-block;
            vertical-align: middle;
            @media (max-width: 730px) {
                display: block;
            }
            a {
                color: #FFF;
                font: 13px/30px $ptb;
                text-transform: uppercase;
                color: $text;
                margin-left: 30px;
                display: inline-block;
                border-bottom: 1px solid transparent;
                @include transition(all, .2s);
                &.active,
                &:hover {
                    color: #FFF;
                    border-bottom: 1px solid $yellow;
                }
                @media (max-width: 900px) {
                    font-size: 12px;
                    margin-left: 10px;
                }
                @media (max-width: 730px) {
                    margin: 10px auto;
                }
            }
        }
    }
            /*.................media.............*/
            @include m800 { 
            }
            /*.............end media.............*/
}


.social {
    @media (max-width: 730px) {
        margin-top: 10px;
    }
    &__item {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 38px;
        color: #fff;
        opacity: .6;
        @include transition(all, .2s);
        &:first-of-type {
            margin-left: 0;
        }
        &--fb {
            background-image: url("../images/fb.svg");
            width: 14px 13px; 
        }
        &--tw {
            background-image: url("../images/tw.svg");
            width: 14px 13px;
        }
        &--in {
            background-image: url("../images/in.svg");
            width: 14px 13px;
        }
        &:hover {
            opacity: 1;
        }
    }
}

/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    display: none;
    width: 40px;
    height: 39px;
    @include position(fixed, 15px, 15px, auto, auto);
    margin: auto; 
    cursor: pointer;
    z-index: 100;
    background-color: #17181A;
    border: none;
    @include transition(all, .4s);
    -webkit-border-radius: 4px;
            border-radius: 4px;
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 70%;
        height: 3px;
        background-color: #fff;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        @include transition(all, .4s);
    }

    .top_line              {   top: 10px;  margin: auto;}
    .middle_line           {   top: 18px;  margin: auto;}
    .bottom_line           {   bottom: 10px; margin: auto;}

    &.active               {   
        -webkit-border-radius: 6px; border-radius: 6px; 
        -webkit-transform: translateX(-260px);
           -moz-transform: translateX(-260px);
            -ms-transform: translateX(-260px);
             -o-transform: translateX(-260px);
                transform: translateX(-260px);
    
    }
    &.active .top_line     {   @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}

        /*.................media.............*/
        @media (max-width: 730px) { 
            display: block;
        }
        /*..............end media.............*/

}
