.map {
    position: relative;
    z-index: 1;

    h2 {
        position: absolute;
        z-index: 2;
        top: 110px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        color: $light;

        @media (max-width: 1200px) {
            top: 55px;
        }
    }


    .contacts-block {
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 1030px;
        padding: 30px 15px;
        background-color: rgba(45, 47, 51, .9);
        color: #fff;
        z-index: 3;
        @include flex($alignI: flex-start, $justify: flex-start);

        @media (max-width: 1200px) {
            width: 100%;
            -webkit-transform: translate(0);
            -ms-transform: translate(0);
            -o-transform: translate(0);
            transform: translate(0);
            left: 0;
            background-color: rgb(45, 47, 51);
        }

        @media (max-width: 991px) {
            position: static;
        }

        .address,
        .email {
            width: 40%;
        }

        .phone {
            width: 20%;
        }

        @media (max-width: 991px) {
            .address,
            .email,
            .phone {
                width: 50%;
                margin-bottom: 30px;
            }

            .email {
                margin-bottom: 0;
            }
        }

        @media (max-width: 500px) {
            .address,
            .email,
            .phone {
                width: 100%;
            }
        }

        .expand {
            position: absolute;
            top: 0;
            right: 0;
            width: 70px;
            height: 70px;
            border: 0;
            padding: 0;
            background-color: #383b40;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            font-size: 18px;
            color: #a4a6aa;
            cursor: pointer;

            &:hover {
                color: $yellow;
            }

            @media (max-width: 1200px) {
                display: none;
            }

            .fa {
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }

        .column {
            padding: 0 15px;

            p {
                font-size: 18px;
                font-family: $ptb;
                line-height: 30px;

                @media (max-width: 991px) {
                    font-size: 16px;
                    font-family: $ptr;
                    line-height: normal;
                }

                @media (max-width: 500px) {
                    font-size: 18px;
                    font-family: $ptb;
                    line-height: 30px;
                }
            }

            span {
                display: block;
            }
        }

        .column__title {
            font-size: 12px;
            text-transform: uppercase;
            font-weight: normal;
            font-family: $ptb;
            color: #8a8f99;
            margin-bottom: 10px;
        }
    }
}


.map-canvas {
    height: 860px;
    position: relative;
    z-index: 1;

    @media (max-width: 1200px) {
        height: 600px;
    }

    @media (max-width: 767px) {
        height: 500px;
    }
}

.gm-style a {
    display: none!important;
}
.gmnoprint {
    display: none;
}