.popup {

    &--expertise,
    &--info {
        background: rgba(23,24,26, .99);
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.4);
        width: 1170px;
        margin: 0 auto;
        @include flex($alignI: stretch);

        @media (max-width: 1200px) {
            width: 100%;
        }
    }

    .column-category,
    &__left {
        width: 20%;
        img {
            max-width: 100%;
        }

        @media (max-width: 991px) {
            width: 25%;
        }

        @media (max-width: 767px) {
            width: 100%;
            padding: 45px 35px 0;

            img {
                display: block;
                width: 260px;
            }
        }

        @media (max-width: 500px) {
            padding: 20px;
        }
    }

    .column-content,
    &__right {
        width: 80%;
        padding: 45px 35px;

        @media (max-width: 991px) {
            width: 75%;
        }

        @media (max-width: 767px) {
            width: 100%;
        }

        @media (max-width: 500px) {
            padding-left: 20px;
            padding-right: 20px;
        }


        .aboutWorker {
            padding: 20px 25px 25px;
            text-align: left;
            padding-bottom: 80px;
            position: relative;
            color: #FFF;
            font: 24px $ptb;

            @media (max-width: 991px) {
                padding: 0 0 80px;
            }


                .position {
                    font: 20px $ptr;
                    display: block;
                    margin-top: 10px;
                    border-bottom: 1px solid #222326;
                    padding-bottom: 15px;
                }            
            .tit {
                margin-top: 17px;
                font: 16px/30px $ptr;
                color: #F3F4F4;
                display: inline-block;
                vertical-align: top;
                width: 14%;

                @media (max-width: 991px) {
                    width: 100%;
                    font-family: $ptb;
                }
            }
            .des {
                margin-top: 17px;
                display: inline-block;
                vertical-align: top;
                width: 85%;
                font: 16px/30px $ptr;
                color: #F3F4F4;

                @media (max-width: 991px) {
                    width: 100%;
                    margin-top: 0;
                }
            }
            .button {
                position: absolute;
                bottom: 0px;
                right: 25px;
                margin: auto;
                width: 220px;
            }
        }
    }
}


.mfp-close-btn-in .mfp-close {
    width: 70px;
    height: 70px;
    background-color: #222326;
    color: $yellow;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}




.column-category {
    position: relative;
    z-index: 1;
    @include flex($direction: column, $justify: center, $alignI: center);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    @media (max-width: 767px) {
        padding-bottom: 30px!important;
    }

    &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #2d2f33;
        opacity: .98;
        z-index: -1;
    }

    .icon {
        color: $yellow;
        height: 75px;
        text-align: center;
        font-size: 75px;
        margin-bottom: 15px;
    }

    .title {
        color: #fff;
        text-transform: uppercase;
        font-family: $ptb;
        font-size: 14px;
        margin-bottom: 18px;
    }
}


.column-content {
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    padding-right: 70px;

    .title {
        font-size: 24px;
        font-family: $ptb;
        color: #fff;
        margin-bottom: 20px;
    }

    .form--simple {
        background-color: transparent;
        padding: 25px 0 0;

        .form__group:not(:last-child) {
            margin-bottom: 25px;
        }

        .form__group.align-bottom {
            -webkit-align-items: flex-end;
            -ms-flex-align: end;
            align-items: flex-end;
        }
    }

    .text-field {
        width: 75%;
        background-color: #fff;
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 14px;
        line-height: 25px;
        color: #17181a;
        box-shadow: inset -1.414px -1.414px 10px 0px rgba(0, 0, 0, 0.2);

        @media (max-width: 1030px) {
            width: 72%;
        }

        @media (max-width: 991px) {
            width: 100%;
        }
    }
}