
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
}

body {
    font-family: $ptr;
    font-size: 16px;
    color: $grey;
}

h2 {
    font-family: $pfb;
    font-size: 60px;
    margin-bottom: 65px;
    &:after {
        content: '';
        display: block;
        margin: 18px auto 0;
        width: 50px;
        height: 2px;
        background-color: $yellow;
    }
}


// lAYOUT
// ---------------------------
.wrapper {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
    padding: 0 15px;
}



// Logo
.logo {
    width: 200px;
    display: inline-block;

    &-text {
        background-color: $yellow;
        font-size: 30px;
        font-family: $rb;
        line-height: 35px;
        color: #17181a;
        text-align: center;
        text-transform: uppercase;
        padding: 10px 0;
    }

    &-label {
        font-family: $ptr;
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        margin-top: 13px;
    }
}

.section {
    padding: 120px 0;
}
