// COLORS
// ---------------------------
$yellow:                #f5de32;
$grey:                  #2d2f33;
$light:                 #f3f4f4;
$text:                  #b0b1b2;


// FONTS
// ---------------------------
$ptr:                   'pt_sansregular';
$ptb:                   'pt_sansbold';

$rb:                    'ralewaybold';
$rl:                    'ralewaylight';

$pfb:                   'playfair_displaybold';
$pfr:                   'playfair_displayregular';




// RESPONSIVE
// ---------------------------
